<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="/css/component.css" />
    <link rel="stylesheet" href="WAExtra_BeaconTracker_BlazorApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="_content/MudBlazor.ThemeManager/MudBlazorThemeManager.css" />
    <link rel="stylesheet" href="css/roboto-font.css" />
    @* <link href="beacontrack-library/style.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="/beacontrack-library/style.css" />
    @* <link href="leaflet@2.0-dev/leaflet.css" rel="stylesheet" /> *@
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer"/>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="js/themeinterop.js"></script>
    @* <script src="leaflet@2.0-dev/leaflet.js"></script> *@
    @* <script src="beacontrack-library/beacontrack-library.js"></script> *@
    @* <script src="beacontrack-library/index.js" ></script> *@
</body>

</html>
